<div class="center" *ngIf="currentUser; else elseTemplate">
  Пользователь {{currentUser.UserName}}
  <button class="btn btn-outline-success" type="button" (click)="logout()">Выйти</button>
</div>
<ng-template #elseTemplate>
  <div class="float-right">Анонимный пользователь
    <button class="btn btn-outline-info" type="button" [routerLink]="['/login']">Войти</button>
    <button class="btn btn-outline-info" type="button" [routerLink]="['/registration']">Регистрация</button>
  </div>
</ng-template>