﻿<!DOCTYPE html>
<html ng-app="news">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.js"></script>
    <script src="ClientApp/Modules/news.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="container body-content">
        <div class="row" ng-controller="newsCtrl">
            <div class="col-12" ng-repeat="post in posts">
                <br />
                <div><h3><a href="{{post.PostUrl}}">{{post.PostTitle}}</a></h3></div>
                <div style="font-size:18px;">{{post.PostText}})</div>
            </div>
        </div>
    </div>
</body>
</html>