<div style="text-align: center">
<button (click)="getCommentsByIdPost(idPost)" class="btn btn-secondary btn-lg btn-block">
  {{commentButtonText}}
</button>
</div>
<div id="comm" [hidden]="state">
<ng-container *ngIf="comments?.length; else elseTemplate">
    <div class="card  mb-5" *ngFor="let comment of comments ">
        <div class="card-header"><h5 innerHTML={{comment.Author}}></h5></div>
        <div class="card-text" innerHTML={{comment.CommentText}}></div>
        <button [hidden]="isVisibleButton()" (click)="deleteComment(comment.Id,comment.NewsPostId)" class="btn-danger">
          Удалить комментарий
        </button>
      </div>
</ng-container>
<ng-template #elseTemplate>
  <span>Станьте первым[-ой], кто добавит сюда свой комментарий</span>
</ng-template>
</div>
