<h2 class="text-center">Все новости</h2>
<div class="container">
    <pagination-controls 
    previousLabel="&lt;&lt;"
    nextLabel="&gt;&gt;" 
    (pageChange)="p = $event"
    autoHide="true" class="text-center">
  </pagination-controls>
<div class="card border-info text-left col-12 mb-auto"
    *ngFor="let post of news | paginate: { itemsPerPage: 7, currentPage: p }">
  <div class="card-header mb-auto text-primary col-12">
    <h5 innerHTML={{post.PostTitle}}></h5>
    <div class="text small">
      Источник: <a href={{post.PostUrl}} target="blank" innerHTML={{post.PostUrl}}></a>
    </div>
  </div>
  <div class="row mb-auto col-12">
    <div class="col"></div>
    <div class="card-text text-secondary" innerHTML={{post.PostHtml}}></div>
    <div class="col"></div>
  </div>
  <app-comments [idPost]="post.Id"></app-comments>
  <app-add-comment [idPost]="post.Id"></app-add-comment>
</div>
<pagination-controls 
    previousLabel="&lt;&lt;"
    nextLabel="&gt;&gt;" 
    (pageChange)="p = $event"
    autoHide="true" class="text-center">
  </pagination-controls>
</div>