<div style="text-align: center" [hidden]="visible">
  <button (click)="showHideCommentForm()" class="btn btn-outline-success btn-lg btn-block">
    {{commentButtonText}}
  </button>
</div>
<div id="addcomm" [hidden]="state">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="commentForm" (ngSubmit)="addComment()">
          <div class="form-group">
            <label for="commentarea">Ваш комментарий:</label>
            <textarea class="form-control" formControlName="commentText"
                     id="commentarea" rows="3" [(ngModel)]="commentText"
                     [ngClass]="{ 'is-invalid': submitted && f.commentText.errors }">
            </textarea>
            <div *ngIf="submitted && f.commentText.errors" class="invalid-feedback">
              <div *ngIf="f.commentText.errors.required">Комментарий не может быть пустым</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-outline-success" [disabled]="notTypedText()">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>