<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                    id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                  Агрегатор новостей
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" [routerLink]="['/good_news']">
                    Позитивные новости
                </a>
                <a class="dropdown-item" [routerLink]="['/neutral_news']">
                    Обычные новости
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" [routerLink]="['/bad_news']">
                    Негативные новости
                </a>
                </div>
              </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand" [routerLink]="['/']">Новости</a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <app-current-user-info class="navbar-brand"></app-current-user-info>
        </ul>
    </div>
</nav>
<app-alert></app-alert>
