<app-navbar></app-navbar>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Авторизуйтесь/зарегистрируйтесь для чтения позитивных новостей</h2>
      </div>
    </div>
  </div>
</div>